body {
    background-color: #bb9d85;
    padding-top: 70px;
    color: #0f0f0f;
}


/* ///////////////////productos //////////////////////// */
/*///////////////////////////////////////// letra /////////////////////////////////////////////*/

h1 h6 h3 {
    font-family: 'Roboto Slab', serif;
}


p li {
    font-family: 'Manrope', sans-serif;
}

button{
    font-family: 'Viga', sans-serif;
}




/* === Estilos del Contenedor General === */
.container-producto {
    display: flex;
    max-width: 80%;
    margin: 50px auto;
    background: linear-gradient(to right, #c7eee9e7, #60e1d0, #3cbba4c0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Imagen del producto centrada */
.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
}

/* Detalles del producto */
.product-details {
    flex: 1;
    padding-left: 20px;
}

.btn-link {
    text-decoration: none;
    color: #000000;
    padding: 10px 15px;
    border: 2px solid #000000;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    margin-left: 80%;
}

.btn-link:hover {
    color: #000000;
    background-color: #fffffff0;
    border: 2px solid #9a7e62;
}

h1 {
    color: #000000;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}

.calificacion {
    font-size: 18px;
}

.specs {
    margin-top: 20px;
}

.specs h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.specs li {
    font-size: 14px;
    margin-bottom: 13px;
}

/* Botón de WhatsApp */
.btn-formu {
    background-color: #fffffff0 !important;
    border-color: #3cbba4c0 !important;
    color: rgb(0, 0, 0) !important;
}

.btn-formu:hover {
    background-color: #21806eb9 !important;
    border-color: #21806eb9 !important;
}

/* === Pixelated Image Card (Transición de Imagenes) === */
.pixelated-image-card {
    position: relative;
    width: 100%;
    max-width: 500px; /* Ajusta según sea necesario */
    border-radius: 10px;
}

.pixelated-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
    display: block;
}

.pixelated-image-card:hover .top-image {
    opacity: 0;
}


.top-image {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
    z-index: 2;
}

.bottom-image {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}














